$min-width: 440px;
$max-width: 550px;

$theme-color: #ead7d7;
$success-color: #26de81;
$danger-color: #fc5c65;
$warning-color: #fed330;
$main-color: #4d4d4d;
$placeholder: #e6e6e6;

$add-todo-size: 50px;

$todo-font-size: 24px;