@import "utils";
@import "fonts";
@import "typography";

// SUCCESS: '#28a745',
// WARNING: '#ffc107',
// DANGER: '#dc3545'

$input-w: 235px;
$submit-w: $input-w / 2;
$checkbox-size: 17px;

.hidden {
  display: none;
}

body {
  background: rgb(183, 253, 183);
  font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.95em;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#registration-form {
  width: 500px;
  min-height: 100vh;
  margin: 0 auto;
  background: url('../images/palms.jpg') no-repeat;
  background-size: cover;
  position: relative;
}

input[type=text], input[type=tel], select {
  width: $input-w;
  margin-left: 104px;
  margin-bottom: 35px;
  padding: 10px;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  font-size: 1.05em;
  &:focus {
    outline: none;
    &::placeholder {
      color: #fff;  
    }
  }
}

input[type=checkbox], label {
  color: #fff;
  font-size: 0.7em;
  position: absolute;
  margin-left: 104px;
  top: 145px;
}

label {
  left: 33px;
  top: 148px;
}

#submit {
  width: $submit-w;
  margin-left: 177px;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.1em;
  background: #fff;
  border: 5px solid gray;
  &:focus, &:active {
    outline: none;
    position: relative;
    top: 1px;
    left: 1px;
    transform: scale(0.9);
  }
}

select {
  width: 265px;
}

option:checked {
  background: gray;
  color: #fff;
}

option:first-child, #city option:last-child {
  font-style: italic;
  font-size: 0.85em;
}

input[type=checkbox] {
  width: $checkbox-size;
  height: $checkbox-size;
}

.bg-mask {
  position: relative;
  background-color: rgb(25, 83, 25);
  height: 100vh;
  opacity: 0.65;
}

fieldset {
  border: none;
  position: absolute;
  top: 0;
  z-index: 10;
}

legend {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  padding: 20px 104px;
}

.nostate {
  border-color: gray;
}

.valid {
  border-color: #28a745;
}

.invalid {
  border-color: #dc3545;
}

.disabled {
  border-color: rgb(100, 100, 100);
  background-color: lightgray;
}

@media screen and (max-width: 980px) {
  legend {
    font-size: 4.5em;
    padding-left: 175px;
  }

  input[type=text], input[type=tel], select {
    width: 520px;
    margin-left: 180px;
    margin-bottom: 70px;
    padding: 30px;
    border-radius: 20px;
    border-width: 10px;
    font-size: 45px;
  }

  input[type=checkbox], label {
    font-size: 0.7em;
    margin-left: 175px;
    top: 300px;
  }

  input[type=checkbox] {
    width: $checkbox-size * 2;
    height: $checkbox-size * 2;
  }

  select {
    width: 600px;
  }

  label {
    left: 50px;
    top: 303px;
    font-size: 25px;
  }

  #submit {
    width: $submit-w * 2.5;;
    margin-left: 330px;
    padding: 25px;
    border-width: 10px;
    border-radius: 20px;
    font-size: 3.1em;
  }
}